.sidebar{
    display:  flex;
    flex: 0.35; //35%
    height: 100vh;
    background-color: rgb(50,60,60); //todo Homeでかく
}

.sidebarLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40,40,40);
    padding: 7px 15px;
    
    .serverIcon{
        width: 60px;
        height: 60px;
        background-color: rgb(50,50,50);
        border-radius: 9999px;
        margin-bottom: 50px;
        position: relative;
        margin-top: 7px;

        img{
            position: absolute;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.sidebarRight{
    background-color: rgb(50,50,50);

    .sidebarTop{
        color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .sidebarChannels{
        color: rgb(217, 217, 216);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px;

        .sidebarChannelsHeader{
            color: rgb(151, 148, 148);
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
        } 

        .sidebarHeader{
            display: flex;
        }

        .sidebarAddIcon{
            cursor: pointer;
        }
    }
}